.accessories-products-page__top-image-container {
    width: 100%;
    height: 210px;
}

@media only screen and (max-width: 960px) {
    .accessories-products-page__top-image-container {
        display: none;
    }
}
